.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.bio-text {
    max-width: 600px;
    margin-bottom: 2rem;
    color:snow;
}

.bio-images {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.bio-pic {
    width: 250px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
